.topLine{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 175px;
    /*border-bottom:solid black;*/
    margin-left:100px;
    margin-right:100px;
}

.navbar{
    align-items:center;
}

.navBar ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 400px;
        font-size: larger;
        padding: 30px;
        font-size:25px
}

.navBar a{
    color:white;
    text-decoration:none;
}

.navBar a:hover {
    color:aqua;
    text-shadow:purple 1px 1px 5px;
    font-size: 25px;
}

.homeLogo{
    text-align:center;
}

.topLine{
        display:flex;
        justify-content: space-between;
}

.video{
    text-align:center;
}

.homeSections{
    width: 1200px;
    display:flex;
    justify-content:space-evenly;
    text-align:center;
    margin:auto;
}

.news{
    /*border:solid black;*/
    color:white;
    text-shadow:purple 1px 1px 5px;
    width: 385px;
    height: 460px;
}

.newsHeader{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 385px;
}

.fa-newspaper{
    padding-right:15px;
}

.musicPlayer{
    /*border:solid black;*/
    color:blue;
    text-shadow:purple 1px 1px 5px;
    width: 385px;
    height: 460px;
}

.musicPlayerHeader{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 385px;
}

.fa-play{
    padding-right:15px;
}

.daveListening{
    /*border:solid black;*/
    color:blue;
    text-shadow:purple 1px 1px 5px;
    width: 385px;
    height: 460px;
}

.daveListening p{
    font-size:20px;
}

#qouteFootNote{
    font-size:12px;
    font-style: italic;
}

.vibesHeader{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 385px;
}

.fa-music{
    padding-right:15px;
}

body{
    background-color: black;
}

h1{
    text-align:center;
    padding-bottom:10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 60px;
    color: #71f4fc;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

span.Dave{
    text-align:center;
    padding-bottom:10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 60px;
    color: white;
}

span.Vibes{
    text-align:center;
    padding-bottom:10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 60px;
    color: #c228ad;  
}

h2{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.logo{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}  

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #cc7ae6, 0 0 20px #fff, 0 0 30px #cc7ae6, 0 0 40px #cc7ae6, 0 0 50px #cc7ae6, 0 0 60px #cc7ae6, 0 0 70px #cc7ae6;
    }
    to {
      text-shadow: 0 0 20px #004585, 0 0 30px #004585, 0 0 40px#004585, 0 0 50px #004585, 0 0 60px #004585, 0 0 70px #004585, 0 0 80px #004585;
    }
  }
